body,
#app {
  margin: 0;
  padding: 0;
}

/* 解决塌陷 */
#app::after {
  content: "";
  display: block;
  clear: both;
}

/* 下方样式可以删除 */
#app > div {
  padding: 50px 12px;
  text-align: center;
  font-size: 14px;
}
